/* client.css */
#Main {
	/* border: 3px solid blue; */
	position: relative;
	float: left;
	width: 100%;
}
#Connection-Control {
	margin-top: 10px;
	padding: 5px;
}
#RoomName{
	position: relative;
	width: 100%;
	text-align: center;
	display: block;
	padding: 2px;
	height: 100px;
	background-color: gray;
	border-color: blue;
	box-shadow: 3px 3px 5px 6px #ccc;
	/* font-size: 24px;	*/
}
#MainScreen {
	width: 100%;
	position: relative; 
}
#ClientScreen {
	/* border: 1px solid red;
	position: absolute; */
	margin-right: 10px;
	left: 5px;
	top: 5px;
	/* bottom: 5px; */
	/* right: 30%; */
	min-height: 100%;
	display: inline-block;
	float: left;
	width: 65%;
}
#ClientScreenTable {
	width: 100%;
	cellpadding: 2px;
	cellspacing: 0px;
}
#ClientControlBar {position: relative;}
.switch{cursor: pointer; padding: 5px; position: relative; float: left;}
.switch:hover{ zoom: 1.025;}
#OnCmd {display: block; }
#OffCmd {display: none;}
#FullCmd {display: none;}
video {
	/*
	width: 100%;
	border-radius: 5px;
	border: 1px solid black;
	*/
}
#Client-Area {
	/* border: 2px solid green; */
	position: relative;
	width: 98%;
	/* min-height: 300px; */
	text-align: center;
}
#MetalFrame {position: relative; width: 410px; height: 250px; z-index: 0;}
#remoteScreenVideo { 
		border: 3px solid gray; 
		padding: 5px;
		z-index: 1;
		width: 350px;
		min-height: 180px;
		background-color: #bf9898;
		position: absolute;
}
.remoteScreenNormal {
	/*	
	width: 97%; 
	height: 100%;
	*/
	left: 30px; top: 20px;
}
.remoteScreenFull {
	max-width: 98%;
	min-height: 112%;
}

#remoteMediaVideo { 
	/*background-color: rgba(0,0,0,0.5);
	border: 3px solid yellow;*/
	z-index: 2;
}
.remoteMediaNormal{
	position: absolute; 
	bottom: 10px; 
	right: 15px; 
	width: 200px; 
	height: 140px;
	margin-right: 10px;
	margin-bottom: 5px;
}
.remoteMediaFull {
	position: absolute; 
	bottom: 10px; 
	right: 15px; 
	width: 300px; 
	height: 200px;
}
.error-box {
	position: relative;
	color: red;
}
.stats-box {
	position: relative;
	color: blue;
}

/* Chat Area*/
#ChatScreen, #ChatScreenBar {
	position: relative;
	float: left;  
	display: block;
	/* border: 3px solid yellow;  */
}
#ChatScreen {
	width: 30%;
}
#ChatScreenBar {
	width: 99%;
}
#MessageScreen {
	position: relative;
	/* border: 3px solid green; */
	width: 100%;
	height: 620px;
	margin: 5px;
	background-color: rgba(0,0,0,0.5);
	overflow: auto;
	color: white;
	/* top: 10px; */
	float: left;
	padding: 4px;
}
#ScreenProfile {
	position: absolute;
	display: block;
	align-items: center;
	margin: 4px;
	/*width: 100%; */
	/* border: 3px solid red; */
	top: 10px;
}
.ClientProfile {
	border-radius: 50%;
	width: 50px; 
	height: 50px;
	border: 3px solid blue; 
	text-align: center;
	padding: 5px; 
	display: block;
	cursor: pointer;
	float: left;
	position: relative;
	top: -100px;
	font-size: 27px;
}
.ClientStatusOn {
	background-color: rgba(255,255,0,0.5);
}
.ClientStatusOff {
	background-color: rgba(160,160,160,0.5);
}
#ChatInput{
	position: relative;
	top: -10px;
}
#usermessage{
	height: 40px;
	font-size: 28px;
}
#sendcommand{
	height: 40px;
}
.FrameMessage {
	display: block;
	width: 100%;
	height: fit-content;
	position: relative;
	float: left;
	/* border: 2px solid red; */
}
.SelfMessage {
	/* text-align: right; */
	float: right;
	padding: 5px;
	border: 1px solid green;
	background-color: rgba(0, 255, 0, 0.75);
	border-radius: 10px;
	width: fit-content; 
	height: fit-content;
}
.OtherMessage {
	/*text-align: left; */
	/*float: left;*/
	clear: right;
	padding: 5px;
	border: 1px solid blue;
	background-color: rgba(0, 0, 255, 0.75);
	border-radius: 10px;
	width: fit-content; 
	height: fit-content;
}
.MeSenderMessage{
	float: right;
	clear: right;
	font-size: 10px;
	color: black;
	display: block;
	position: relative;
	right: 4px;
	top: -10px;
}
.SenderMessage{
	font-size: 10px;
	color: black;
	display: block;
	position: relative;
	left: 4px;
	top: -10px;
}
.SenderLogoProfile {
	border-radius: 50%;
	width: 30px; 
	height: 30px;
	border: 2px solid blue; 
	text-align: center;
	font-size: 14px;
	margin-top: 2px;
	vertical-align: middle;
	display: block;
	cursor: pointer;
	color: black;
}
input[type="button"], input[type="file"], button { font-size: 24px;}
.error-box {display: none;}
.stats-box {display: none;}
#ControlRefresh{
	position: relative;
	display: none;
	padding: 4px;
	background-color: #e1e1e1;
}
#RefreshWarnning{
	position: relative;
	padding: 4px;
}
#RefreshBttnBox {text-align: center;}
#RefreshBttnDiv {text-align: center;}
.RefreshLink {
	color: #20bf6b !important;
	text-transform: uppercase;
	background: #ffffff;
	padding: 20px;
	border: 4px solid #20bf6b !important;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;
}
.RefreshLink:hover {
	color: #494949 !important;
	border-radius: 50px;
	border-color: #494949 !important;
	transition: all 0.3s ease 0s;
}
#ClientProfilePopup {
	padding: 10px;
	text-align: center;
}
#VideoChatCmdDiv, #TextChatCmdDiv, #CloseCmdDiv {
	padding: 10px;
	width: 96%;
}
#SystemMessageBox {
	display: none;
	 top: 30px;
}
.error{ color: red;}
.blink {  animation: blinker 1s linear infinite; }
@keyframes blinker {
  50% {
    opacity: 0;
  }
}	

#ClientScreenLabel { position: relative; width: 100%; /*border: 3px solid red;*/}
#ClientScreenMark{ position: relative; float: left;  /* border: 3px solid green; */}
#ClientProfileLogo{ position: relative; float: left; top: 18px; left: 30px; /* border: 3px solid blue*/ }
.FullWidthCenter { position: relative; width: 100%; text-align: center; }

#InputKeyDiv{position: absolute; padding: 5px; right: 1px; display: none; z-index: 11; background-color: #3cb344; width: 100%;}
input[type="text"]{padding: 5px 5px; line-height: 20px; font-size: 24px}